*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 100%;
    height: 80px;
    background: #3b5999;
    color: #fff;
    text-align: center;
    padding: lrem;
    padding-top: 30px;
}

.word-display{
    margin-top: 3rem;
    font-size: 80px;
    font-weight: 400;
    color: #3b5999;
}

.word-input-box{
    margin-top: 2rem;
}

.word-input{
    padding:0.5rem;
    width: 300px;
}
.game-info{
    margin-top: 2rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.time, .score{
    font-size: 30px;
}
.button{
    width:200px;
    height: 35px;
    background: #3b5999;
    color:#fff;
    border:none;
    margin-top: 3rem;
    cursor: pointer;
}

.rank-list{
    background: #91a1c4;
    color: #fff;
    display: flex;
    width: 100%;
    height: 300px;
    font-size: 20px;
}
.rank{
    margin-left: 80px;
    list-style: none;
}
.ctx{
    font-weight: 800;
    color:#3b5999;
}

.loading{
    background: #ccc;
    cursor: not-allowed;   
}